{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-toml"],
    "overrides": [
        {
            "files": "*.toml",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.md",
            "options": {
                "proseWrap": "always",
                "printWidth": 80
            }
        }
    ]
}
